################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GLEngine/v15
/Debug
/Debug
/Debug
/GLEngine/Debug
/Debug/GLEngine.pdb
/Debug/GLEngine.ilk
/Debug/GLEngine.exe
/Debug/GLEngine.pdb
/GLEngine/Release
*.exe
*.json
*.sqlite
/.vs/config/applicationhost.config
*.tlog
/GLEngine/x64/Debug/GLEngine.tlog/GLEngine.lastbuildstate
/GLEngine/x64/Debug/GLEngine.tlog/unsuccessfulbuild
*.log
*.pch
*.iobj
*.ipdb
*.pdb
*.idb
/GLEngine/x64/Debug
/GLEngine/x64/Release
